{% extends "layout.html" %}

{% block title %}
  Find path
{% endblock %}

{% block main %}
  <h1>Speak to the oracle:</h1>
  <form action="/" method="post">
    <div class="mb-3">
      <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="start" placeholder="Start Artist" type="text" id="start" list="start-artists">
      <datalist id="start-artists"></datalist>
    </div>
    <div class="mb-3">
      <input autocomplete="off" class="form-control mx-auto w-auto" name="end" placeholder="End Artist" type="text" id="end" list="end-artists">
      <datalist id="end-artists"></datalist>
    </div>
    <button class="btn btn-primary" type="submit">Find Path!</button>
  </form>
  
  {% if is_found_path %}
    <svg
      viewBox="0 0 {{ svg_width }} {{ svg_height }}"
      xmlns="http://www.w3.org/2000/svg"
      height="200"
      width="100%">
      
      <defs>
        <linearGradient id="connector-gradient" gradientUnits="userSpaceOnUse" x1="{{ line_first_begin }}" y1="100" x2="{{ line_last_end }}" y2="100">
          <stop offset="0%" stop-color="var(--accent)"/>
          <stop offset="100%" stop-color="var(--accent)"/>
        </linearGradient>
      </defs>

      {% for line_position_1, line_position_2, i in line_positions %}

        <line class="connection-line path-connector" data-path-connector-index="{{ i }}" x1="{{ line_position_1 }}" y1="100" x2="{{ line_position_2 }}" y2="100"/>
      {% endfor %}
      
      {% for artist_data in artist_datas %}
        <g class="path-node path-node-artist" data-name="{{ artist_data.artist.name }}" data-path-index="{{ artist_data.path_index }}">
          <defs>
            <pattern id="artistImg{{ artist_data.artist.mbid }}" patternUnits="objectBoundingBox" width="1" height="1">
              <image data-mbid="{{ artist_data.artist.mbid }}" href="{{ url_for('static', filename='artist_placeholder')}}" x="0" y="0" width="{{ 2 * artist_data.circle_rad }}" height="{{ 2 * artist_data.circle_rad }}" preserveAspectRatio="xMidYMid slice"/>
            </pattern>
          </defs>
          
          <a>

          <circle class="artist-circle" cx="{{ artist_data.circle_pos.x }}" cy="{{ artist_data.circle_pos.y}}" r="{{ artist_data.circle_rad }}" fill="url(#artistImg{{ artist_data['artist'].mbid }})"/>
          
          <text class="artist-name" x="{{ artist_data.name_pos.x }}" y="{{ artist_data.name_pos.y }}">
            {{ artist_data.artist.name }}
          </text>

          </a>
        </g>
      {% endfor %}
      
      {% for track_data in track_datas %}
        <g class="path-node path-node-track" data-name="{{ track_data.track.name }}" data-artists="{{ track_data.track.artists }}" data-path-index="{{ track_data.path_index }}">
          <defs>
            <pattern id="trackImg{{ track_data.track.mbid }}" patternUnits="objectBoundingBox" width="1" height="1">
              <image data-mbid="{{ track_data.track.mbid }}" href="{{ url_for('static', filename='images/missing_album_art.png') }}" x="0" y="0" width="{{ track_data.square_size }}" height="{{ track_data.square_size }}" preserveAspectRatio="xMidYMid slice"/>
            </pattern>
          </defs>
          
          <a>

          <rect class="track-square" x="{{ track_data.square_pos.x }}" y="{{ track_data.square_pos.y }}" width="{{ track_data.square_size }}" height="{{ track_data.square_size }}" fill="url(#trackImg{{ track_data.track.mbid }})"/>
          
          <text class="track-name" x="{{ track_data.name_pos.x }}" y="{{ track_data.name_pos.y }}">
            {{ track_data.track.name }}
          </text>

          </a>
        </g>
      {% endfor %}
    </svg>
  {% endif %}
  
  <script>
    let error_message=null
  </script>
  
  {% if error_message %}
    <script>
      error_message="{{ error_message }}"
    </script>
  {% endif %}

  <script src="{{ url_for('static', filename='graph.js') }}"></script>
  
    
{% endblock %}
